beautifulsoup4==4.8.0
bitrix24-python3-client==0.3.4
certifi==2019.6.16
chardet==3.0.4
docutils==0.15.2
idna==2.8
IMAPClient==2.1.0
lxml==4.4.1
psycopg2==2.8.3
requests==2.22.0
six==1.12.0
soupsieve==1.9.2
transliterate==1.10.2
urllib3==1.25.3
yandex-connect==0.27b0
zoomus==0.1.7
