{% extends "base.html" %}

{% block title %}Список участников ДШ{% endblock %}

{% block menu %}
<div class="container mt-4">
    <ul class="nav nav-pills">
        <li class="nav-item">
            {% url 'home' as url_home %}
            <a class="nav-link {% if url_home == request.path%}active{% endif %}" href="{{url_home}}">Главная</a>
        </li>
        <li class="nav-item">
            {% url 'sf' as url_sf %}
            <a class="nav-link {% if url_sf == request.path%}active{% endif %}" href="{{url_sf}}">Список ДШ</a>
        </li>
        <li class="nav-item">
            {% url 'sf_edit' as url_sf_edit %}
            <a class="nav-link {% if url_sf_edit == request.path%}active{% endif %}" href="{{url_sf_edit}}">Редактирование ДШ</a>
        </li>
    </ul>
</div>
{% endblock %}

{% block content %}
<div class="container mt-4">
    <h1 class="mt-4">Список участников проекта Друзья Школы</h1>
    {% for i in participant_list %}
    <ul class="list-groupe mt-4">
        <li class="list-groupe-item">
            <b>{{i.last_name}}</b>
            <span class="m-2">{{i.first_name}}</span>
            <span>{{i.email}}</span>
            <span class="float-right mr-3"><a href="/sf-detail/{{i.id}}">подробнее</a></span>
        </li>
    </ul>
    {% endfor %}
</div>
{% endblock %}
